.vertical-stack {
  display: grid;
  flex-direction: column;
}

.horizontol-nav-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.horizontol-nav {
    background-color: rgb(93, 129, 163);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.horizontol-nav .left-links {
  display: flex;
  align-items: center;
}

.horizontol-nav .left-links a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0 10px;
  transition: transform 0.3s;
}

.horizontol-nav .left-links a:hover {
  transform: scale(1.1);
  color: #d8d8d8;
}

.horizontol-nav .right-links {
  margin-left: auto;
}

.horizontol-nav .auth-links {
  display: flex;
  font-weight: bold;
}

.horizontol-nav .auth-links a {
  text-decoration: none;
  background:rgb(65, 90, 128);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  transition: transform 0.3s;
}

.horizontol-nav .auth-links a:hover {
  color: #d8d8d8;
  transform: scale(1.1);
}

.horizontol-nav .auth-links a.active {
    background-color: #82b1e0;
    color: rgb(206, 206, 206);
}