<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
        <nav class="horizontol-nav">
            <a href="{{ url_for('sets.sets_page')}}">All Sets</a>
            <a href="{{ url_for('cards.cards_page')}}">All Cards</a>
            <a href="{{ url_for('api_sets.post_set')}}">Create a Set</a>
            <a href="{{ url_for('api_cards.post_card')}}">Create a Card</a>
            <a href="{{ url_for('cards.answer_cards')}}">Answer the cards</a>
        </nav>
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>