<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="horizontol-nav">
                <a href="/"><img src="{{ url_for('static', filename='FLASHCARDSHARKS_LOGO.png') }}" alt="FlashcardSharks Logo"></a>
                <a href="{{ url_for('sets.sets_page')}}">All Sets</a>
                <a href="{{ url_for('cards.cards_page')}}">All Cards</a>
                <a href="{{ url_for('api_sets.post_set')}}">Create a Set</a>
                <a href="{{ url_for('api_cards.post_card')}}">Create a Card</a>
                <a href="{{ url_for('pages.show_points_page')}}">Points</a>
                <a href="{{ url_for('collectibles.buy_collectible')}}">Buy Collectibles</a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('authorization.logout')}}"class="Logout">Log Out</a>
                {% endif %}
            </nav>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>