{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1>All Cards</h1>
    <div class="cards-container">
        {% if cards %}
            {% for card in cards %}
            <div class="card">
                <h2><strong>{{ card.set.name }}</strong></h2>
                <p><strong>Question:</strong> {{ card.question }}</p>
                <p><strong>Answer:</strong> {{ card.answer }}</p>
                <div class="card-actions">
                    <button class="icon-button edit-icon" onclick="openEditCardModal('{{ card.flash_id }}', '{{ card.question }}', '{{ card.answer }}')">
                        <i class="far fa-edit"></i>
                    </button>
                    <form method="POST" action="{{ url_for('api_cards.delete_card', card_id=card.flash_id) }}" onsubmit="return confirmDelete()">
                        <button type="submit" class="icon-button trash-icon">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No cards available.</p>
        {% endif %}
    </div>

    <!-- Edit Card Modal -->
    <div id="editCardModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEditCardModal()">&times;</span>
            <div class="edit_container">
                <h1>Edit Card</h1>
                <form id="edit-form" method="POST">
                    <div class="form-group">
                        <label for="edit_question" class="custom-label">Question</label>
                        <input type="text" id="edit_question" name="new_question" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_answer" class="custom-label">Answer</label>
                        <input type="text" id="edit_answer" name="new_answer" required>
                    </div>
                    <div class="button-container">
                        <button type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function openEditCardModal(cardId, question, answer) {
            document.getElementById('edit-form').action = '{{ url_for("api_cards.put_card", card_id=0) }}'.replace('/0/', '/' + cardId + '/');
            document.getElementById('edit_question').value = question;
            document.getElementById('edit_answer').value = answer;
            document.getElementById('editCardModal').style.display = 'block';
        }

        function closeEditCardModal() {
            document.getElementById('editCardModal').style.display = 'none';
        }

        function confirmDelete() {
            return confirm('Are you sure you want to delete this card?');
        }
    </script>
</body>
{% endblock %}
