{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cards.css') }}">
</head>
<h1> All Cards </h1>
{% for card in cards %}
<p>
    <strong>Set:</strong> <span> {{ card.set.name }} </span>
    <strong>Question:</strong> <span> {{ card.question }} </span>
    <strong>Answer:</strong> <span> {{ card.answer }} </span>
    <span>
        <a href="{{ card.flash_id }}">Edit Card</a> 
    </span>
</p>
{% endfor %}
{% endblock %}
