{% extends "base.html" %}
{% block content %}
<form method="POST">
    <h1>Create a New Card</h1>
    <h3>Choose a set</h3>
    {% for set in sets%}
    <input type="radio" id="{{ set.set_id }}" name="card_set" value="{{ set.set_id }}" required>
    <label for="{{ set.set_id }}">{{ set.name }}</label>
    {% endfor %}
    <label for="card_question">The Question</label>
    <input type="text" id="card_question" name="card_question" required>
    <label for="card_answer">The Answer</label>
    <input type="text" id="card_answer" name="card_answer" required>
    <label for="submit_card">Submit</label>
    <input type="submit" id="submit_card" name="submit_card" required>
</form>
{% endblock %}
