{% extends "base.html" %}
{% block content %}
<div class="create_container">
<form method="POST">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='create_card.css') }}">
    </head>
    <h1>Create a New Card</h1>
    <h3>Choose a set:</h3>
    {% for set in sets%}
    <input type="radio" id="{{ set.set_id }}" name="card_set" value="{{ set.set_id }}" required>
    <label for="{{ set.set_id }}">{{ set.name }}</label>
    {% endfor %}
    <br> 
    <br> 
    <label for="card_question" class="custom-label">The Question</label>
    <input type="text" id="card_question" name="card_question" required>
    <br>
    <br>
    <label for="card_answer" class="custom-label">The Answer</label>
    <input type="text" id="card_answer" name="card_answer" required>
    <br>
    <br>
    <div class="button-container">
        <button type="submit">Submit</button>
    </div>
</form>
</div>
{% endblock %}
