{% extends "base.html" %}
{% block content %}
<div class="create_container">
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='create_set.css') }}">
    </head>
<form method="POST">
    <h1>Create a New Set</h1>
    <label for="set_name">Set Title</label>
    <input type="text" id="set_name" name="set_name" required>
    <label for="set_descript">Set Description</label>
    <input type="text" id="set_descript" name="set_descript" required>

    <form method="POST" action="{{ url_for('api_sets.post_set') }}">
        <button type="submit"> Create </button>
    </form>
</form>
{% endblock %}