{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css') }}">
</head>
<body>
<nav class="nav-links">
    <div class="logo">
        <a href="/">
        <img src="{{ url_for('static', filename='FLASHCARDSHARKS_LOGO.png') }}" alt="FlashcardSharks Logo">
        </a>
    </div>
    <div class="nav-links-container">
        <a href="/">Home</a>
        <a href="{{ url_for('api_sets.post_set') }}">Create</a>
    </div>
    <div class="header-right">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('authorization.logout')}}">Log Out</a>
        {% else %}
        <a href="{{ url_for('pages.login')}}">Log In</a>
        <a href="{{ url_for('pages.show_register_page')}}">Sign Up</a>
        {% endif %}
    </div>
</nav>

<main>
<section id="WelcometoHomepage">
    <div class="overlay">
        <h1 class="one"> 
            WELCOME TO  <br> FLASHCARD SHARKS <br>
        </h1>
        <p>Flashcards to ace your tests.</p>
        {% if not current_user.is_authenticated %}
        <button class="big-signup">
            <a href="{{ url_for('pages.show_register_page')}}">SIGN UP NOW</a>
        </button>
        {% endif %}
    </div>
</section>
</main>
</body>
</html>
{% endblock %}
