{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css') }}">
</head>
<body>
<nav class="nav-links">
    <div class="logo">
        <img src="../static/FLASHCARDSHARKS_LOGO.png" alt="FlashcardSharks Logo">
    </div>
    <div class="nav-links-container">
        <a href="/">Home</a>
        <a href="create_set.html">Create</a>
    </div>
    <div class="header-right">
        <!-- {% if user %} -->
        <!-- <a href="logout.html">Log Out</a> -->
        <!-- {% else %} -->
        <a href="login.html">Log In</a>
        <a href="register.html">Sign Up</a>
        <!-- {% endif %} -->
    </div>
</nav>

<nav class="secondary-nav">
    <!-- {% if not user %} -->
        <a href="register.html">Sign up now</a>
    <!-- {% endif %} -->
</nav>

<main>
<section id="WelcometoHomepage">
    <div class="overlay">
        <h1 class="one"> 
            WELCOME TO  <br> FLASHCARD SHARKS <br>
        </h1>
        <p>Flashcards to ace your tests.</p>
        <button class="big-signup">
            SIGN UP NOW
        </button>
    </div>
</section>

    <!-- <div class="footer">
        <p>Add stuff later</p>
    </div> -->

    <!-- {% if user %}
        <div class="user-box">
            <img src="user_image.jpg" alt="User Image" class="user-image">
            <h2>{{ username }}</h2>
        </div>

        <h2>My Sets:</h2>

        <div class="sets">
            {% for set in user_sets %}
                <div class="set">
                    <h3>{{ set.name }}</h3>
                    <p>{{ set.description }}</p>
                </div>
            {% else %}
                <p>You have no sets</p>
            {% endfor %}
        </div>
    {% endif %} -->
</main>
</body>
</html>
{% endblock %}