{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sets.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/ef68e7e8d3.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1> All Sets </h1>
    <div class="sets-container">
        {% if sets %}
            {% for set in sets %}
            <div class="set-card">
                <h2>
                    <strong> <span>{{ set.name }}</span> </strong>
                </h2>
                <p>
                    <span>{{ set.description }}</span>
                </p>
                <div class="set-actions">
                    <form action="{{ url_for('api_sets.view_update_set', set_id=set.set_id) }}">
                        <button type="submit" class="icon-button edit-icon"><i class="far fa-edit"></i></button>
                    </form>
                    <form method="POST" action="{{ url_for('api_sets.delete_set', set_id=set.set_id) }}">
                        <button type="submit" class="icon-button trash-icon"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </form>
                    <form action="{{ url_for('cards.quiz_cards_in_set', set_id=set.set_id) }}">
                        <button type="submit" class="icon-button pen-nib-icon"><i class="fa-solid fa-pen-nib"></i></button>
                    </form>
                    <form action="{{ url_for('cards.answer_cards_in_set', set_id=set.set_id) }}">
                        <button type="submit" class="icon-button pen-ruler-icon"><i class="fa-solid fa-pen-ruler"></i></button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="set-card new-set" onclick="window.location.href='{{ url_for('api_sets.post_set') }}'">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
        {% endif %}
    </div>
</body>
{% endblock %}
