{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='update_set.css') }}">
<div class="create_container">
    <form method="POST" action="{{ url_for('api_sets.put_set', set_id=set.set_id) }}">
        <h1>Edit Set</h1>
        <div class="form-group">
            <label for="set_name" class="custom-label">Set Title</label>
            <input type="text" id="set_name" name="updated_name" value="{{ set.name }}">
        </div>
        <div class="form-group">
            <label for="set_descript" class="custom-label">Set Description</label>
            <input type="text" id="set_descript" name="updated_descrp" value="{{ set.description }}">
        </div>
        <div class="button-container">
            <button type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock %}
